.editor-container {
  display: flex;
  flex: 1;

  .editor-item {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    overflow: hidden;

    &>header {
      padding-left: 30px;
      height: 36px;
      line-height: 36px;
      color: #ccc;
      font-size: 12px;
      flex: none;
    }
  }

  .editor-left-panel {
    display: flex;
    flex-direction: column;
    width: 0;

    .editor-left-panel-item {
      height: 200px;
      flex: none;

      &:nth-child(1) {
        height: 36px;
      }

      &:last-child {
        flex: 1;
        height: 0;
      }
    }
  }

  .editor-right-panel {
    display: flex;
    flex-direction: column;
    width: 0;
    flex: 1;

    .editor-right-panel-item {
      height: 200px;
      flex: none;

      &:nth-child(1) {
        height: 36px;
      }

      &:last-child {
        position: relative;
        flex: 1;
        height: 0;

        .editor-result-mask {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  .editor-vertical-divider {
    position: relative;
    width: 1px;
    flex: none;
    height: 100%;
    background-color: #555;
    cursor: col-resize;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 5px;
      left: -2px;
    }
  }

  .editor-horizontal-divider {
    position: relative;
    height: 1px;
    flex: none;
    width: 100%;
    background-color: #555;
    cursor: row-resize;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 5px;
      top: -2px;
    }
  }
}