.editor-container {
  display: flex;
  width: 100%;
  background-color: #1e1e1e;

  .editor-item {
    display: flex;
    flex-direction: column;

    &>header {
      padding-left: 30px;
      height: 36px;
      line-height: 36px;
      color: #ccc;
      font-size: 12px;
      flex: none;
    }
  }

  .editor-left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;

    .editor-left-top-panel {
      height: 250px;
      flex: none;
    }

    .editor-left-bottom-panel {
      flex: 1;
    }
  }

  .editor-right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;

    .editor-right-top-panel {
      height: 250px;
      flex: none;
    }

    .editor-right-bottom-panel {
      flex: 1;
    }
  }

  .editor-vertical-divider {
    width: 1px;
    flex: none;
    height: 100%;
    background-color: #555;
  }

  .editor-horizontal-divider {
    height: 1px;
    flex: none;
    width: 100%;
    background-color: #555;
  }
}