.result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .iconfont {
    float: right;
    cursor: pointer;
    margin-right: 10px;

    &.icon-meter {
      margin-right: 30px;
    }

    &.active:before {
      outline: 1px solid #999;
      outline-offset: 2px;
    }
  }

  .result-content {
    height: 0;
    flex: 1;
  }
}