.result-container {
  width: 100%;
  height: 100%;

  .icon-console {
    float: right;
    margin-right: 30px;
    cursor: pointer;
  }

  .icon-refresh {
    float: right;
    margin-right: 10px;
    cursor: pointer;
  }

  .icon-console.active:before {
    outline: 1px solid #999;
    outline-offset: 2px;
  }

  .result-content {
    height: 0;
    flex: 1;
  }
}