.dashbaord-container {
  color: #ccc;

  .dashboard-section {
    margin-top: 100px;
    padding-left: 200px;

    &.lists {
      margin-top: 100px;
    }

    &>header {
      font-size: 32px;

      .icon-add {
        margin-left: 30px;
        font-size: 28px;
        opacity: 0.3;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }

    .section-item-ul {
      margin-top: 20px;

      .section-item {
        width: 300px;
        font-size: 16px;
        line-height: 30px;

        .iconfont {
          margin-left: 10px;
          opacity: 0.3;
          float: right;
          cursor: pointer;
          &:hover {
            opacity: 1;
            color: #fff;
          }
        }

        &:hover {

          span:first-child {
            color: #fff;
            cursor: pointer;
          }
        }
      }

      .canvas-item {
        display: flex;
        width: 600px;

        .canvas-item-title {
          width: 200px;
          flex: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .canvas-item-hash {
          flex: 1;
          max-width: 150px;
        }
      }

      .lists-item {
        display: flex;
        width: 800px;

        .lists-item-title {
          width: 200px;
          flex: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .lists-item-content {
          flex: 1;
          margin-right: 50px;
          max-width: 500px;
          word-wrap: break-word;
        }
      }
    }
  }
}

.list-modal-row {
  display: flex;
  line-height: 32px;
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }

  label {
    width: 100px;
  }
}