.nav-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #121212;
  color: #ccc;

  .icon-cube {
    margin-right: 6px;
    font-size: 20px;
  }

  .nav-left-panel {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 30px;

    .nav-logo {
      cursor: pointer;
    }

    .nav-template {
      margin-left: 30px;
      font-size: 12px;
      cursor: pointer;
    }
  }

  .title {
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-edit {
      margin-left: 10px;
      cursor: pointer;
    }

    .title-input {
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;
      color: #ccc;
      font-size: 14px;
      text-align: center;
      outline: none;
    }
  }

  .nav-tool {
    display: flex;
    align-items: center;
    margin-right: 20px;

    .tool-button {
      margin-right: 10px;
      display: inline-block;
      padding: 4px 8px;
      font-size: 14px;
      border: 1px solid #666;
      cursor: pointer;

      .icon-down {
        margin-left: 3px;
        font-size: 12px;
      }
    }
  }
}