.nav-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #121212;
  color: #ccc;

  .icon-cube {
    margin-right: 6px;
    font-size: 20px;
  }

  .nav-brand {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 30px;
  }

  .title {
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-tool {
    display: flex;
    align-items: center;
    margin-right: 20px;

    .tool-button {
      font-size: 14px;
      display: inline-block;
      border: 1px solid #555;
      padding: 4px 8px;
      cursor: pointer;
    }
  }
}